[submodule "libspdm"]
	path = libspdm
	url = https://github.com/DMTF/libspdm
[submodule "SPDM-Responder-Validator"]
	path = SPDM-Responder-Validator
	url = https://github.com/DMTF/SPDM-Responder-Validator
