[Unit]
Description=SPDM Responder Emulator
Documentation=https://github.com/DMTF/spdm-emu
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/spdm-emu
EnvironmentFile=-/etc/default/spdm-responder-emu
ExecStart=/usr/bin/spdm_responder_emu $SPDM_RESPONDER_EMU_ARGS
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target